@import 'normalize.less';
@import 'titlebar.less';
@import 'player.less';

.player-bg {
    background: #ffffff;
}

/*Miscellaneous*/
#smokeCanvas {
    background: black none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity:0.7;
}
.ag-body {
    background:transparent;
    .ag-body-viewport {
        overflow-x: hidden;
    }
    .ag-row {
        background:transparent!important;
    }
}
