@import 'normalize.less';
@import 'vars.less';
@import 'titlebar.less';
@import 'player.less';
@import 'login.less';
@import 'presence.less';

.player-bg {
    background: #ffffff;
}

.toast-top-custom {
  top: 50px;
  right: 0px;
}

.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    background-color: #eaebec;
    z-index: 0;
    padding-bottom: 50px;
    min-height: 500px;
}

label {
    padding-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  &:focus {
      outline: none;
      border-bottom: solid 2px #969696;
  }
  &.focus {
      border-bottom: solid 2px #969696;
  }
}

html, body {
    height: 100%;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

/*Miscellaneous*/
#smokeCanvas {
    background: black none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity:0.7;
}
.ag-body {
    background:transparent;
    .ag-body-viewport {
        overflow-x: hidden;
    }
    .ag-row {
        background:transparent!important;
    }
}
