@import 'normalize.less';
@import 'titlebar.less';
@import 'player.less';

.player-bg {
    background: url(../images/shattered-island.gif) repeat;
}

html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
    .main-container {
        height: ~"calc(100% - 50px)";
    }
}
