.player-wrapper {
    width: 100%;
    display: flex;
    align-items: top;
    height: 100%;
    .left-column {
        flex:1;
        padding: 20px;
    }
    .center-column {
        flex:2;
    }
    .right-column {
        flex:1;
        padding: 20px;
    }
}
