.titleBar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @primary-background-color;
    color: @primary-font-color;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    >div {
        flex: 1;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .logo-inner {
            flex: 1;
            i {
                position: absolute;
                margin-left: 20px;
            }
            .logo-text {
                margin-left: 40px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .user-inner {
            flex: 1;
            text-align: right;
            margin-right: 15px;
            i {
                position: absolute;
                right: 7px;
                top: 2px;
            }
            .login-text {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .indicators {
            display: inline-block;
            width: 40px;
            height: 20px;
            position: relative;
            .on-indicator {
                position: absolute;
                border: 2px solid #2ecc71;
                background-color: #2ecc71;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                top: 3px;
                transition: @transition;
                .tooltip-text {
                    background-color: #ffffff!important;
                    color: #2ecc71;
                }
                &:hover {
                    cursor: pointer;
                    .tooltip-text {
                        opacity: 1;
                        transition: @transition;
                    }
                }
            }
            .off-indicator {
                position: absolute;
                border: 2px solid gray;
                background-color: gray;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                top: 3px;
                transition: all 1s ease;
                &:hover {
                    cursor: pointer;
                    .tooltip-text {
                        opacity: 1;
                        transition: @transition;
                    }
                }
            }
        }
        .user-info {
            display: inline-block;
            width: auto;
            float: right;
        }

        .tooltip-wrap {
            .tooltip-text {
                position: absolute;
                width: auto;
                text-align: center;
                left: -160px;
                top: -12px;
                background-color: #000;
                opacity: 0.0;
                padding: 10px;
                border-radius: 3px;
                transition: @transition;
            }
        }
    }
    .nav-bar {
        position: absolute;
        width: 100%;
        top: 50px;
        height: 50px;
        background-color: @secondary-background-color;
        color: #ffffff;
        .nav-item-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            .nav-item {
                transition: @transition;
                border-right:1px solid @secondary-font-color;
                position: relative;
                flex:1;
                font-weight: 300;
                height: 100%;
                line-height: 50px;
                transition: @transition;
                i {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    padding-right: 10px;
                    right: 72px;
                    font-size: 1.8em;
                    color: @secondary-font-color;
                    @media @breakpoint {
                        padding: 0;
                        right: 0;
                    }
                }
                span {
                    @media @breakpoint {
                        display: none;
                    }
                }
                .fa-bullhorn {
                    padding-right: 25px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: #4578A6;
                    transition: @transition;
                }
            }
            .active {
                background-color: @secondary-font-color;
                transition: @transition;
                i {
                    color: #ffffff;
                    transition: @transition;
                }
            }
        }
    }
}
