//bright scheme colors
@orange: #f1783a;
@orangeDark: #c2633d;
@blue: #63ceda;
@brownLight: #9f9695;
@brownDark: #3e2624;

//scaffolding and links
@backgroundColor: #53778b;
@backgroundImage: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
@backgroundOptColor: #0A0F13;
@backgroundOptImage: url("https://www.transparenttextures.com/patterns/dark-wall.png");
@backgroundOptImageRadial: radial-gradient(center center, circle cover, #ffffff, #ffffff);
@bodyBackground: @grayLight;
@textColor: #ccc;
@linkColor: #08c;
@linkColorHover: darken(@linkColor, 15%);

//navbar
@navbarBackground: @grayDarker;
@navbarBackgroundHighlight: @grayDark;
@navbarBackgroundColor: #333333;
@navbarBackgroundImage: url("https://www.transparenttextures.com/patterns/tactile-noise-dark.png");
@navbarBackgroundColorDarker: darken(@navbarBackgroundColor, 3%);

//greyscale colors
@black: #000;
@dark: #111;
@light: #fafafa;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #999;
@grayLighter: #eee;
@white:	#fff;

//buttons
@btnBackground: @white;
@btnBackgroundHighlight: darken(@white, 10%);
@btnBorder: darken(@white, 20%);
@btnPrimaryBackground: @linkColor;
@btnPrimaryBackgroundHighlight: spin(@btnPrimaryBackground, 15%);
@btnSuccessBackground
@btnSuccessBackgroundHighlight
@btnDangerBackground
@btnDangerBackgroundHighlight

//forms
@placeholderText: @grayLight;
@inputBackground: @white;
@inputDisabledBackground: @grayLighter;

//
//
// custom
//
//

@secondary-background-color: #386B98;
@primary-font-color: #757677;
@nav-font-color: #ffffff;
@secondary-border: 3px solid #386B98;
@secondary-font-color: #2d567a;
@secondary-hover-background: #ffffff;
@secondary-hover-border: 3px solid #2d567a;

@transition: all .2s ease;
@breakpoint: ~"only screen and (max-width: 568px)";
