<div class="events-wrapper">
    <div class="header-row">
        <div class="header-title">
            Activity
        </div>
    </div>
    <ul class="events">
        <li class="event" ng-repeat="event in vm.events">
            <div class="action-wrapper {{event.type | eventFilter}}">
                <div class="team-pic">
                    <img ng-src="{{event.teamPicUrl}}" alt="">
                </div>
                <div class="opp-team-pic">
                    <img ng-src="{{event.oppTeamPicUrl}}" alt="">
                </div>
                <div class="event-info">
                    <div class="actor-pic">
                        <img ng-src="{{event.actorPicUrl}}" alt="">
                    </div>
                    <div class="event-actor-text">
                        <div ng-click="vm.navToPlayer(event.actor)">
                            <span class="actor-name">{{event.actorFirstName}} {{event.actorLastName}}</span>
                            <span class="verb-text">{{event.verbPhrase}}</span>
                            <span class="opp-actor-name">{{event.oppActorFirstName}} {{event.oppActorLastName}}</span>
                        </div>
                    </div>
                    <div class="opp-actor-pic">
                        <img ng-src="{{event.oppActorPicUrl}}" alt="">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
