<div class="login-wrapper">
    Email: <input type="text" ng-model="vm.email">
    Password: <input type="text" ng-model="vm.password">
    Handle: <input type="text" ng-model="vm.handle">

    <br><br>

    <button ng-click="vm.signIn()">Login</button>

    <br><br>

    <button ng-click="vm.signOut()">Logout</button>

    <br><br>

    <button ng-click="vm.createUser()">Create User</button>

    <br><br>

    <button ng-click="vm.deleteUser()">Delete User</button>

    <br><br>

    <button ng-click="vm.getUserToken()">Get ID Token</button>

    <p ng-if="vm.message">Message: <strong>{{ vm.message }}</strong></p>
    <p ng-if="vm.error">Error: <strong>{{ vm.error }}</strong></p>
</div>
