<div class="player-wrapper">
    <div class="left-column">
        <div class="player-pic">
            <img ng-src="{{vm.playerData.picUrl}}" alt="">
        </div>
        <div class="player-xp">EXP: {{vm.playerData.xp}}</div>
        <div class="firstName">{{vm.playerData.firstName}}</div>
        <div class="lastName">{{vm.playerData.lastName}}</div>
        <div class="role">{{vm.playerData.role}}</div>
        <div class="biography">
            <div class="label">biography</div>
            <ul>
                <li>
                    <div class="bio-prop">Gender</div>
                    <div class="bio-prop-value">{{vm.playerData.gender}}</div>
                </li>
                <li>
                    <div class="bio-prop">Species</div>
                    <div class="bio-prop-value">{{vm.playerData.species}}</div>
                </li>
                <li>
                    <div class="bio-prop">Age</div>
                    <div class="bio-prop-value">{{vm.playerData.age}}</div>
                </li>
                <li>
                    <div class="bio-prop">Birth Planet</div>
                    <div class="bio-prop-value">{{vm.playerData.birthPlanet}}</div>
                </li>
            </ul>
        </div>
        <div class="contract">
            <div class="label">contract</div>
            <div class="salary">{{vm.contractData.salary}}</div>
            <div class="team">
                <div class="label">team</div>
                <div class="team-name">{{vm.teamData.name}}</div>
                <div class="time-left">{{vm.calculateTimeRemaining(vm.contractData.endDate)}}</div>
            </div>
        </div>
    </div>
</div>
