<div class="presence-wrapper" ng-class="{ 'open': vm.openPanel }">
    <ul>
        <li class="presence-header">
            <span>Player Presence-{{vm.presenceUsers.length + 1}}</span>
            <div class="close-presence" ng-click="vm.togglePanel()">
                <i class="fa fa-close"></i>
            </div>
        </li>
        <li class="presence-item" ng-repeat="person in vm.presenceUsers" ng-if="person.handle">
            <div class="presence-person">
                <div class="presence-status">
                    <img ng-src="{{person.photoURL}}" fallback-src="../images/defaultImage.png" ng-class="vm.getPresence(person.class)" alt="">
                </div>
                <div class="handle">
                    <div class="handle-text">
                        {{person.handle}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
