<md-content class="md-padding" layout="column" layout-gt-md="row">
    <div flex-xs flex-gt-xs="100" layout="column" layout-gt-md="row">
        <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-media flex="grow" class="profile-img">
                    <span class="md-headline">{{profile.userObj.first_name}} {{profile.userObj.last_name}}</span>
                    <div class="md-media-lg card-media profile-pic">
                        <img ng-src="{{profile.userObj.profile_pic}}" class="md-card-image" alt="team logo">
                    </div>
                </md-card-title-media>
                <div flex></div>
                <md-card-title flex="grow" class="profile-img" ng-if="!profile.userObj.current_team">
                  <md-card-title-text>
                    <span class="md-headline">No Current Team</span>
                    <div class="md-media-lg card-media">
                        <i class="fa fa-5x fa-question"></i>
                    </div>
                    <span class="md-subhead">Click here to find one.</span>

                  </md-card-title-text>
                </md-card-title>
                <md-card-title-media flex="grow" class="profile-img" ng-if="profile.userObj.current_team">
                    <span class="md-headline">{{profile.teamObj.team_name}}</span>
                    <div class="md-media-lg card-media profile-pic">
                        <img ng-src="{{profile.teamObj.team_logo}}" class="md-card-image" alt="team logo">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
            </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
        </md-card>
        <!-- <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Personal Training</span>
                    <span class="md-subhead">{{profile.userObj.current_training}}</span>
                    <span class="md-headline">Team Training</span>
                    <span class="md-subhead">{{profile.teamObj.team_training}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <div ng-if="!profile.userObj.current_team">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">No Current Team</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <i class="fa fa-5x fa-question card-icon"></i>
                    </div>
                </md-card-title-media>
                <md-card-content>
                    <span class="md-subhead">Click here to find one.</span>
                </md-card-content>
            </div>
            <div ng-if="profile.userObj.current_team">
                <md-card-title>
                    <md-card-title-media class="profile-img">
                        <div class="md-media-lg card-media profile-pic">
                            <img ng-src="{{profile.teamObj.team_logo}}" class="md-card-image" alt="team logo">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline profile-name">Team: {{profile.teamObj.team_name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card-content>
            </div>
        </md-card> -->
    </div>
</md-content>
<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout-xs="column" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Skills</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <canvas id="radar" class="chart chart-radar" chart-data="profile.data" chart-options="options" chart-labels="profile.labels"></canvas>
            </md-card-content>
        </md-card>
    </div>
</md-content>



<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Nutrition</span>
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-row-select multiple ng-model="profile.selected">
        <thead md-head md-order="profile.query.order">
            <tr md-row>
                <th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>
                <th md-column md-numeric md-order-by="profile.calories"><span>Calories</span></th>
                <th md-column md-numeric>Fat (g)</th>
                <th md-column md-numeric>Carbs (g)</th>
                <th md-column md-numeric>Protein (g)</th>
                <th md-column md-numeric>Sodium (mg)</th>
                <th md-column md-numeric>Calcium (%)</th>
                <th md-column md-numeric>Iron (%)</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in profile.desserts">
                <td md-cell>{{dessert.name}}</td>
                <td md-cell>{{dessert.calories}}</td>
                <td md-cell>{{dessert.fat | number: 1}}</td>
                <td md-cell>{{dessert.carbs}}</td>
                <td md-cell>{{dessert.protein | number: 1}}</td>
                <td md-cell>{{dessert.sodium}}</td>
                <td md-cell>{{dessert.calcium.value}}{{dessert.calcium.unit}}</td>
                <td md-cell>{{dessert.iron.value}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="profile.query.limit" md-limit-options="[5, 10, 15]" md-page="profile.query.page" md-total="{{profile.desserts.count}}" md-page-select></md-table-pagination>
