<md-list layout="column">
    <md-subheader  class="md-no-sticky">Dashboard</md-subheader>
    <md-list-item>
        <md-button ui-sref="root.dashboard">
            Home
        </md-button>
    </md-list-item>
        <md-button ui-sref="root.profile">
            Profile
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ui-sref="root.dashboard">
            Settings
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ui-sref="root.login">
            Login
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ui-sref="root.profile">
            Finances (manager only)
        </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader  class="md-no-sticky">Tactics</md-subheader>
    <md-list-item>
        <md-button ui-sref="root.profile">
            Squad
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ui-sref="root.profile">
            Stadium
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ui-sref="root.profile">
            Training
        </md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader  class="md-no-sticky">League</md-subheader>
    <md-list-item>
        <md-button ui-sref="root.profile">
            League
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ui-sref="root.profile">
            Transfers
        </md-button>
    </md-list-item>

</md-list>
