<div class="team-wrapper">
    <!-- <div class="team-info">
        <div class="">
            <h2>{{vm.teamData.name}}</h2>
            <img ng-src="{{vm.teamData.picUrl}}" alt="">
        </div>
    </div> -->
    <div class="left-column">
        <h2 class="team-name">{{::vm.teamData.name}}</h2>
        <div class="team-pic">
            <img ng-src="{{vm.teamData.picUrl}}" alt="">
        </div>
        <!-- <div class="role">{{::vm.playerData.role}}</div>

        <div class="experience">
            <div class="skill">
                <div class="skill-name">
                    Experience
                </div>
                <div class="skill-value">
                    <div class="skill-number">
                        {{::vm.playerData.xp}}
                    </div>
                    <div class="meter">
                      <span ng-style="{ 'width': '15%' }"></span>
                    </div>
                    <div class="end-spacer"></div>
                </div>
            </div>
        </div>

        <div class="aggression">
            <div class="skill">
                <div class="skill-name">
                    Aggression
                </div>
                <div class="skill-value">
                    <div class="skill-number">
                        {{::vm.playerData.aggro}}
                    </div>
                    <div class="meter">
                      <span ng-style="{ 'width': vm.playerData.aggro + '%' }"></span>
                    </div>
                    <div class="end-spacer"></div>
                </div>
            </div>
        </div>

        <div class="status">
            <div class="label">Status</div>
            <div class="skill morale">
                <div class="skill-name">
                    Morale
                </div>
                <div class="skill-value">
                    <div class="skill-number">
                        {{::vm.playerData.morale}}
                    </div>
                    <div class="meter">
                      <span ng-style="{ 'width': vm.playerData.morale + '%' }"></span>
                    </div>
                    <div class="end-spacer"></div>
                </div>
            </div>
            <div class="skill fatigue">
                <div class="skill-name">
                    Fatigue
                </div>
                <div class="skill-value">
                    <div class="skill-number">
                        {{::vm.playerData.fatigue}}
                    </div>
                    <div class="meter">
                      <span ng-style="{ 'width': vm.playerData.fatigue + '%' }"></span>
                    </div>
                    <div class="end-spacer"></div>
                </div>
            </div>
        </div>

        <div class="biography">
            <div class="label">Biography</div>
            <div class="bio-container">
                <div class="bio-item">
                    <div class="bio-prop">Gender:</div>
                    <div class="bio-prop-value">{{::vm.playerData.gender}}</div>
                </div>
                <div class="bio-item">
                    <div class="bio-prop">Species:</div>
                    <div class="bio-prop-value">{{::vm.playerData.species}}</div>
                </div>
                <div class="bio-item">
                    <div class="bio-prop">Age:</div>
                    <div class="bio-prop-value">{{::vm.playerData.age}}</div>
                </div>
                <div class="bio-item">
                    <div class="bio-prop">Birth Planet:</div>
                    <div class="bio-prop-value">{{::vm.playerData.planet}}</div>
                </div>
            </div>
        </div> -->
        <!-- <div class="contract">
            <div class="label">contract</div>
            <div class="salary">{{vm.contractData.salary}}</div>
            <div class="team">
                <div class="label">team</div>
                <div class="team-name">{{vm.teamData.name}}</div>
                <div class="time-left">{{vm.calculateTimeRemaining(vm.contractData.endDate)}}</div>
            </div>
        </div> -->
    </div>
    <div class="right-column">
        <div class="header-row">
            <div class="header-title" ng-click="vm.showPanel('players')">
                Players
            </div>
            <div class="header-title" ng-click="vm.showPanel('stats')">
                Stats
            </div>
            <div class="header-title" ng-click="vm.showPanel('activities')">
                Activity
            </div>
            <div class="header-title" ng-click="vm.showPanel('contracts')">
                Contracts
            </div>
            <div class="header-title" ng-click="vm.showPanel('matches')">
                Matches
            </div>
        </div>
        <div class="players" ng-if="vm.showPlayers">
            <div ag-grid="vm.gridOptions" class="ag-material" id="myGrid" style="height:300px;width:100%;margin-top:70px;"></div>
        </div>
        <div class="stats" ng-if="vm.showStats">
            stats go here
        </div>
        <div class="activity" ng-if="vm.showActivities">
            activity goes here
        </div>
        <div class="contract" ng-if="vm.showContract">
            contract goes here
        </div>
        <div class="matches" ng-if="vm.showMatches">
            matches go here
        </div>
    </div>
</div>
