<div class="titleBar-wrapper">
    <div class="logo">
        <div class="logo-inner" ng-click="vm.goToHome()">
            <i class="fa fa-superpowers"></i>
            <div class="logo-text">Galactic Shockball</div>
        </div>
    </div>
    <div class="user">
        <div class="user-inner">
            <div class="indicators" ng-click="vm.openPresence()">
                <div class="on-indicator" tooltip title="Simulation Online" ng-if="vm.isRunningEngine"></div>
                <div class="off-indicator" tooltip title="Simulation Offline" ng-if="!vm.isRunningEngine"></div>
                <i class="fa fa-lock"></i>
            </div>
            <div class="user-info">
                <div class="login-text" ng-if="!vm.loggedInUser" ng-click="vm.goToLogin()">Login</div>
                <div class="login-text" ng-if="vm.loggedInUser" ng-click="vm.goToLogin()">{{vm.loggedInUser.displayName || vm.loggedInUser.email}}</div>
            </div>
        </div>
    </div>
    <div class="nav-bar">
        <ul class="nav-item-wrapper">
            <li class="nav-item" ui-sref="root.dashboard" ui-sref-active="active">
                <i class="fa fa-bolt"></i>
                <span>Home</span>
            </li>
            <li class="nav-item" ui-sref="root.events" ui-sref-active="active">
                <i class="fa fa-bullhorn"></i>
                <span>Events</span>
            </li>
        </ul>
    </div>
</div>
